[submodule "apps/macos-client"]
	path = apps/macos-client
	url = https://github.com/ombori-hackathon/mini-mate-1-macos.git
[submodule "services/api"]
	path = services/api
	url = https://github.com/ombori-hackathon/mini-mate-1-api.git
